<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>

    {% stylesheets filter="scssphp" output="css/app.css"
    "assets/sass/*.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{{ asset('assets/images/Logo-mobile.png') }}">

    <script type="text/javascript">
        function initialize() {
            const latlng = new google.maps.LatLng(45.5819176, -0.5619208);
            const myOptions = {
                zoom: 15,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            const map = new google.maps.Map(document.getElementById("map"), myOptions);
        }

        const myKey = "AIzaSyBpvP3nH7tfgxKfrDwu7dcXjZU1sQu9YuQ";

        function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = "https://maps.googleapis.com/maps/api/js?key=" + myKey + "&sensor=false&callback=initialize";
            document.body.appendChild(script);
        }
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-toggle close-menu">
                <span>&times;</span>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                {{ 'app.title'|trans }}
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a {% if app.request.get('_route') == 'homepage' %} class="active"{% endif %} href="{{ path('homepage') }}">
                        {{ 'page.homepage.title'|trans }}
                    </a>
                </li>
                <li>
                    <a{% if app.request.get('_route') == 'rooms' %} class="active"{% endif %} href="{{ path('rooms') }}">
                        {{ 'page.rooms.title'|trans }}
                    </a>
                </li>
                <li>
                    <a {% if app.request.get('_route') == 'fishing' %} class="active"{% endif %} href="{{ path('fishing') }}">
                        {{ 'page.fishing.title'|trans }}
                    </a>
                </li>
                <li>
                    <a {% if app.request.get('_route') == 'contact' %} class="active"{% endif %} href="{{ path('contact') }}">
                        {{ 'page.contact.title'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="main" class="container-fluid nopadding">
    {% block body %}{% endblock %}
</div>

{% javascripts filter="?jsqueeze" output="js/app.js"
"assets/vendor/jquery/dist/jquery.min.js"
"assets/vendor/jquery-ui/jquery-ui.min.js"
"assets/vendor/bootstrap/dist/js/bootstrap.min.js" %}
<script src="{{ asset_url }}"></script>

{% endjavascripts %}

{% block javascripts %}{% endblock %}

</body>
</html>
