{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 nopadding">
            <div class="banner-container">
                <div class="banner-text">
                    <h1>{{ 'page.homepage.banner.title'|trans }}</h1>
                    <p>{{ 'page.homepage.banner.location'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row description">
        <div class="col-md-4">
            <div class="description-label">
                <p>
                    {{ 'page.homepage.description.label'|trans }}
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="description-text">
                <p>
                    {{ 'page.homepage.description.text'|trans }}
                </p>
                <p>
                    {{ 'page.homepage.description.text2'|trans }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}